.wrapContent {
  padding: 1rem;
  border: 1px solid #C6C6C6;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  min-height: 500px;
}

.wrapContent button {
  font-size: 1em;
}

.wrapContent th {
  border-top: none!important;
  border-bottom: 1px solid #C6C6C6!important;
}

.wrapContent td {
  border-top: none!important;
  border-bottom: 1px solid #C6C6C6;
  padding: 1rem!important;
}

.wrapContent img {
  width: 1rem;
}

.wrapContentBlank p {
  color: #788c9c;
  margin-bottom: 1rem;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
}

.wrapContentBlank h3 {
  margin-bottom: 20px;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
}

.textCenter {
  text-align: center;
}

.imgInfinity:before {
  content: '\221E';
  font-size: 20px;
}

:global .form-control {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
}
