<p>Xin chào {{toName}},</p><p></p>
<p></p>
<p></p>
<p>Hệ thống Haravan vừa hoàn tất quá trình xuất file {{data.subjectType}} trong website của bạn. Vui lòng click vào link dưới để tải về file chứa dữ liệu:</p><p></p>
<a href="{{data.downloadLink}}" style="background-color:#007dc1;border-radius:3px;display:inline-block;color:#ffffff;font-family:Helvetica,Arial;font-size:13px;padding:6px 24px;text-decoration:none" target="_blank">Tải file</a><p></p>
<p></p>
<p></p>
<p>Trân trọng,</p><p></p>
<p></p>
<p>--------------------</p><p></p>
<p></p>
<p>Haravan.</p>
